/* #BASE CSS (Initital Setup)
---------------------------------
    #HTML5
    #BODY
        #TYPOGRAPHY
        #HELPERS
        #MEDIA
            #IMAGES
            #VIDEOS
        #COMPONENTS
            #BUTTONS
    #LAYOUT
        #MEDIAQUERIES
    #SITE STRUCTURE
        #HEADER
            #SITE-BRANDING (LOGO)   
            #SITE NAVIGATION
        #FOOTER
        #SECTIONS
        #SUB PAGES
--------------------------------- */
*{box-sizing: border-box;}

/* #TYPOGRAPHY  */
body {
    margin: 0;
    color: rgba(0,0,0,.7);
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 87.5%;
    line-height: 1.5em;
    background-color: rgb(255, 245, 232);
    margin-top: 4em;
}

h1 {
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    line-height: normal;
    padding: 2.5em 0 0 0;
}

h3.subheader {
  font-size: 21px;
}

p {
  font-size: 18px;
}

/* #LINKS */
a {
  color: rgba(0,0,0,.4);;
  text-decoration: none;
}

a:hover {
  color: rgba(0,0,0,.6);;
}


/* HELPERS */
.text-centered {
  text-align: center;
}

.text-centered p,
.mywufooform{
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
}

.subheader {
  color: rgba(0,0,0,.5);
  font-weight: normal;
}

.full-width {
  position: relative;
}

.full-width img {
  width: 100%;
}

/* #IMAGES */
img {
  max-width: 100%;
  height: auto;
  margin: 0 0 2.25em 0;
}

img.circular {
    border-radius: 100%;
}

/* BUTTONS */
a.button {
    display: inline-block;
    background-color: rgba(0,0,0,.3);
    color: rgba(255,255,255,.8);
    border-radius: .5em;
    padding: 1em 2em .8em 2em;
    margin: .5em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: .9em;
}
a.button:hover {
    background-color: rgba(0,0,0,.5);
}

/* SITE-STRUCTURE */

.site-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(228, 208, 183);
  position: fixed;
  z-index: 300;
  top: 0;
  padding: 0.5em;
  box-shadow:0 0 10px 0 rgba(0,0,0,.15);
}

.site-header[data-view="visible"]{
    transform: translateY(0);
  }

.site-header[data-view="hidden"]{

  /* background-color: red; */
  transform: translateY(-100%);
}

.site-footer {
    text-align: center;
    padding: .25em 0 1.5em 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.site-branding {
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    margin: 0;
}
.site-branding a {
    color: black;
}

.site-navigation ul {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    margin: 0 .5em;
    padding: 0;
    display: inline-block;
}

.site-navigation a {
  font-size: 18px;
    display: block;
    padding: 1em .5em;
    color: rgba(0,0,0,.4);
}

.site-navigation a:hover,
.site-navigation a.selected {
    color: rgba(0,0,0,.6);
    border-bottom: 0.05em solid rgba(0,0,0,.2);
}

/* section {
    padding: 0 0 3em 0; 
}
*/

.hero {
    padding:0;
    background: #dedede;
    margin-bottom: 6em;
}


/* FLEX GRID */

@media (min-width: 768px) {
    
    .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
    }
    .one-third.column {
        width: 32%;
    }
    .two-thirds.column {
        width: 60%;
    }
    
}

/* #THUMBGRID */
.thumbgrid {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 7em;
}

.thumbgrid.other {
  justify-content: center;
  display: flex;
}

.thumbgrid a {
    width: 50%;
    padding: 2em .5em 0 .5em;
}

@media (min-width:768px) {
    .thumbgrid a {
        width: 50%;
    }
}

.thumbgrid a img {
    width: 50vh;
    height: 50vh;
    filter: brightness(1.05);
    transition: all ease-in-out 0.2s;
    border: 1px solid rgba(255,255,255,0);
}

.thumbgrid a:hover img {
    filter: brightness(1);
    border: 1px solid rgba(0,0,0,.3);
}

/* Page Fade-ins */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main,
fade-in {
  opacity: 0;
  animation: fade-in ease-in-out 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes fade-and-move-in {
  from {
    transform: translate(0, -20px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.fade-and-move-in * {
  opacity: 0;
  animation: fade-and-move-in ease-out 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.fade-and-move-in *:nth-child(1) {
  animation-delay: 0.1s;
}
.fade-and-move-in *:nth-child(2) {
  animation-delay: 0.2s;
}
.fade-and-move-in *:nth-child(3) {
  animation-delay: 0.4s;
}
.fade-and-move-in *:nth-child(4) {
  animation-delay: 0.7s;
}
.fade-and-move-in *:nth-child(5) {
  animation-delay: 1s;
}
.fade-and-move-in *:nth-child(6) {
  animation-delay: 1.2s;
}
.fade-and-move-in *:nth-child(7) {
  animation-delay: 1.4s;
}
.fade-and-move-in *:nth-child(8) {
  animation-delay: 1.6s;
}
.fade-and-move-in *:nth-child(9) {
  animation-delay: 1.8s;
}


/* .full-width {
  width: 100%;
  height: 100%;
  margin: 0px;
} */

.image {
  position: absolute;
  left: 10%;
  top: 0%;
  bottom: 0%;
  right: 0%;
  animation: movetxt 15s linear infinite;
}

img.circular {
  margin: 5em 0 -6em 0;
}

@keyframes movetxt {
  from {
    left: 0px;
  }
  to {
    left: -4000px;
  }
}

/* ZOOM-WRAPPER */

.zoom-wrapper {
  overflow: hidden;
  height: 80vh;
  width: 100%;
  position: relative;
}

/* The element to apply the animation to */
.zoom-image {
  width: 100%;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  animation-name: zoomIn;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  transform-origin: center;
  animation-iteration-count: infinite;
}

@keyframes zoomIn {
  0% { transform: scale(1); }
  50%   { transform: scale(1.2);}
  100% { transform: scale(1); }
}

/* Swiper */

.swiper-container {
  width: 100%;
  /* height: 100%; */

}

.swiper-slide {

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
}

.sticky {
  position: -webkit-sticky;  
  position: sticky;
  top:0;
  margin-left: 2.5em;
  max-width: 24em;
  align-self: flex-start;
}

.two-column {
  max-width: 1500px;
  padding: 0 1em;
  margin: auto;
}

@media (min-width: 768px){
  .two-column {
    display: flex;
    flex-direction: row-reverse;
  }

  .left {
    width: 72%;
    margin-top: 2em;
  }
  
  .right {
    width: 28%;
  }
}


main.site-main.brochure {
  background-color: white;
}

.swiper-wrapper {
  margin: 0 0 3em 0;
}

.site-branding {
  max-height: 3em;
}

.mylogo {
  max-height: 5em;
  max-width: 7em;
}

h2.subheader {
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.Self.introduction {
  text-align: center;
  margin: 4em 0 3em 0;
  font-size: 16px;
}

/* SHINE */

.thumbgrid figure {
  width: 50vh;
  height: 50vh;
  margin: 0 0.75em 1.25em 0;
  overflow: hidden;
}
.thumbgrid figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.thumbgrid figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

video {
  margin-bottom: 25px;
  width: 100%    !important;
  height: auto   !important;
}

/* main.site-main {
  overflow-x: hidden;
} */